* {
    max-width: 99.9%;
}


.topnav {
  background-color: white;
  overflow: hidden;
  height:40px;

}

.destra {
    float: right;
    padding-top: 10px;
}
.topnav a {

  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar {
    margin-bottom: 0;
    background-color: white;
}


.new {
    line-height: 3.5;
    padding-left: 15px;

}
.navbar-brand img {
    width: 200px;
}

#containerlink {
    font-size: 10px;
    background-color: #64d4d5;
    border: 10px;
    padding: 4px;
    border-radius: 5px;
}

#bs-example-navbar-collapse-1 {
    padding: 10px;
}


main {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    height: 740px;

}

.col-lg-6 {
    color: #fff;
}

.container-jumbotron h1 {
    padding-top: 18%;
    margin-top: 12%;
    margin-left: 15%;
    font-size: 500%;


}

.container-jumbotron p:nth-child(2) {
    font-size: 170%;
    margin-left: 15%;
    color: rgba(255, 255, 255, 0.8);

}

.form-right {
    float: right;

}
.jumbotron {
    background-color: white;
    margin-top: 20%;
    padding: 5%;
    width: 75%;
    float: right;
    margin-right: 15%;

}

@media screen and (min-width: 768px) {
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 25px;
    padding-left: 25px;
}


form {
    color: black;

}


.jumbotron h3 {
    font-size: 245%;
    margin: 0;
}

.btn-primary {
    background-color: #0069ff;
    padding: 2% 27%;
    font-size: 150%;
}

.separator p {
    position: relative;
    display: inline-block;

}
.separator p::before {
    position: absolute;
    content: "";
    display:inline-block;
    width: 65%;
    border-top: 1px solid rgba(0,0,0,0.2);
    left: -95px;
    top: 15px;
}

.separator p::after {
    position: absolute;
    content: "";
    display:inline-block;
    width: 65%;
    border-top: 1px solid rgba(0,0,0,0.2);
    left: 138px;
    top: 15px;
}

 .LogoList img {
    width: 110px;
    display: inline-block;
}

.LogoList {
    text-align:justify;

}

.LogoList::after {
    content: "";
    width:100%;
    display: inline-block;

}

h2 {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #969dad;
    display: block;
    letter-spacing: 1px;
    padding-top: 5%;
}

.customerlink {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}




/**.navbar-default {
    margin-bottom: 0;
}
**/
