
.topnav {
  background-color: white;
  overflow: hidden;
  height:40px;


}

.topnav a {
  float: right;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar {
    margin-bottom: 0;
}

.new {
    line-height: 3.5;
    padding-left: 15px;

}

.navbar-brand img {
    width: 200px;
}

#containerlink {
    font-size: 10px;
    background-color: #64d4d5;
    border: 10px;
    padding: 4px;
    border-radius: 5px;
}

#bs-example-navbar-collapse-1 {
    padding: 10px;
}


.jumbotron{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    height: 740px;
/**.navbar-default {
    margin-bottom: 0;
}
**/
