.topnav {
  background-color: white;
  overflow: hidden;
  height:40px;


}

.topnav a {
  float: right;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar {
    margin-bottom: 0;
}

.new {
    float: left;
    height: 100px;

}

img {
    background-color: #3247c9;
}

.jumbotron {
    padding: 0;
}
/**.navbar-default {
    margin-bottom: 0;
}
**/
